@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h2>Hoteis e Quartos</h2>
    </div>
    <div>
        <img src="~/QuartoImagem/hotel.jpg" />
    </div>
</div>